
{% extends 'base.html' %}

{% block title %}Maktab CRM - Talabalar ro'yxati{% endblock %}

{% block content %}

  <h1>Talabalar ro'yxati</h1>
  <a href="{% url 'students:add' %}" class="btn btn-primary">Talaba qo'shish</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Rasm</th>
        <th>To'liq ismi</th>
        <th>Guruh</th>
        <th>Telefon</th>
        <th>Amallar</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><img src="{{ student.image.url }}" alt="{{ student.full_name }}" style="width: 50px; height: 50px;"></td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.group.group_name }}</td>
        <td>{{ student.phone_number }}</td>
        <td>
          <a href="{% url 'students:detail' student.id %}" class="btn btn-info btn-sm">Ko'rish</a>
          <a href="{% url 'students:update' student.id %}" class="btn btn-warning btn-sm">Tahrirlash</a>
          <a href="{% url 'students:delete' student.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Haqiqatan ham o'chirmoqchimisiz?');">O'chirish</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}